@import url("fancybox.css");

body {
    margin:0;
    padding:0;
    font-family: Arial, 'Lucida Sans Unicode', sans-serif;
    height: 100%;
    font-size: 14px;

}
html {
    height:100%;
}
#logo {
    position:fixed;
    z-index: 100;
    background-color:white;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.75);
    opacity: 0.9;
    filter: alpha(opacity=90);
    text-align: center;
    width: 100%;
}

#teasertext {
    font-size: 1.2em;
    padding: 10px;
    max-width: 700px;
}

.promoVideo  {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 5px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 5px rgba(0, 0, 0, 0.06);
    width: 853px;
    height: 480px;
}

footer {
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.75);
    bottom: 0;
    position:fixed;
    z-index: 100;
    width:100%;
    padding:4px;
    font-size:1.2em;
    font-weight:200;
    background-color:white;
    opacity: 0.9;
    filter: alpha(opacity=90);
    text-align: center;
}
#livewallStream {
    margin-left: 15px;
}
#wallcontainer {
    position: relative;
    width:90%; min-height: 100%;
    margin:auto;
    /*background-image:url(/images/skyline.png); background-position: left bottom; background-size: 100% auto; background-repeat:no-repeat;*/
}
a {
    text-decoration: none;
    color:#2272ba;
}
#mitmachen, #datenschutz, #impressum {
    position:absolute;
    z-index:5;
    width:60%;
    height: 100%;
    background-color:white;
    top: 0;
    padding-left:20%;
    padding-right:20%;
}
h1 {
    font-size:1.1em;
    font-weight:400;
}
h2 {
    color:#2272ba;
    font-size:1.6em;
    font-weight:bold;
}

.socialMediaItem  {
    width: 290px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 5px rgba(0, 0, 0, 0.06);
    background-color:#FFFFFF;
    border: 1px solid #BCBCBC;
    overflow:hidden;
    border-top: 5px solid #d10021;

}

#logopng { width: 356px; float: left; padding: 5px; padding-left: 30px; }
#stadtlogopng {     float: right; padding: 20px 30px 5px 5px; width: 185px;}
#logopngDrunter { width: 33%;}
@media (max-width: 640px) {

    #logopng { width: 40%; }
    #stadtlogopng { width: 24%; position: relative;}
    footer { padding-top: 10px; padding-bottom: 10px; }
    h2 { font-size: 1.1em; font-weight: 100; text-align: left; }
    #mitmachen, #datenschutz, #impressum { padding-left: 5%; padding-right: 5%; width: 85%; text-align: justify;}
    .promoVideo  { width: 100%; max-height: 40%; }
    #teasertext {font-size: 14px; padding: 10px; padding-left: 5%; padding-right: 5%; }


}

.socialMediaItem
{
    min-height: 200px;
}

.socialMediaItem .time {
    font-size: 11px;
}

.socialMediaItemTwitter  {
    border-top: 5px solid #d10021;
}

.socialMediaItemFacebook  {
    border-top: 5px solid #d10021;
}

.socialMediaItem .visibility {
    float:right;
}

.socialMediaItem iframe {
    width: 290px;
    height: 210px;
}

.socialMediaItemInstagram  {
    border-top: 5px solid #412920;
}


.socialMediaItem .profile {
    height: 50px;
    padding: 10px;
    background-color:#F4F4F4;
    border-bottom: 1px solid #FFFFFF;
}
.socialMediaItem .profile .name {
    font-weight:bold;
    font-size: 12px;
    overflow:hidden;
}
.socialMediaItem .profile .name a {
    color:#000;
}

.socialMediaItem .profile .icon {
    float:right;
}


.socialMediaItem .text {
    padding: 10px;

}

.socialMediaItem .profilePicture {
    width: 30px;
    height: 30px;
    padding: 3px;
    border: 1px solid #AAA;
    margin-right: 10px;
    float:left;
}

.socialMediaItem .profilePicture img {
    width: 30px;
    height: 30px;
}


.socialMediaItem .pictureContainer {
    width: 100%;
}

.socialMediaItem .pictureContainer img {
    width: 100%;

}

.socialMediaItem .textOverlay {
    padding: 10px;
    font-size: 13px;
    color:#444444;

}

.socialMediaItem .textContent .container {
    font-size: 14px;
    color:#444444;

}
.socialMediaItem .textContent .container a {
    font-size: 14px;
    color:#2272ba;

}

.social-links
{
    display: block;
    position: fixed;
    right: 10px; bottom: -4px;
    height: 32px; width: auto;
}

.sm-link
{
    display: inline-block;
    width: 32px; height: 28px; overflow: hidden;
    background: url('sm-iconsx32.png') no-repeat 0 0;
    margin-top: 2px;
}
.sm-link:hover { height: 32px; margin-top: -2px; }

.sm-link.facebook { background-position: 0 0; }
.sm-link.youtube { background-position: -32px 0; }
.sm-link.gplus { background-position: -64px 0; }
.sm-link.twitter { background-position: 0 -32px; }


#loader
{
    position: absolute; bottom:70px; height: 100px; width: 100%;
    background: rgba(1,1,1,.01) url('../images/loader.gif') no-repeat center center;
}


@media (max-width: 450px)
{
    footer { height: 60px; }
    .social-links { width: 100%; text-align: center; bottom: 4px; }
    .sm-link { margin: 0 10px; }
    #wallcontainer { width: 100%; }
}








