@import url("/css/fancybox.css");

.socialMediaItem .time {
   font-size: 11px;
}

.socialMediaItemTwitter  {
  border-top: 5px solid #d10021;
}

.socialMediaItemFacebook  {
  border-top: 5px solid #d10021;
}

.socialMediaItem .visibility {
  float:right;
}

.socialMediaItem iframe {
  width: 290px;
  height: 210px;
}

.socialMediaItemInstagram  {
  border-top: 5px solid #412920;
}


.socialMediaItem .profile {
  height: 50px;
  padding: 10px;
  background-color:#F4F4F4;
  border-bottom: 1px solid #FFFFFF;
}
.socialMediaItem .profile .name {
  font-weight:bold;
  font-size: 12px;
  overflow:hidden;
}
.socialMediaItem .profile .name a {
  color:#000;
}

.socialMediaItem .profile .icon {
  float:right;
}


.socialMediaItem .text {
  padding: 10px;

}

.socialMediaItem .profilePicture {
  width: 30px;
  height: 30px;
  padding: 3px;
  border: 1px solid #AAA;
  margin-right: 10px;
  float:left;
}

.socialMediaItem .profilePicture img {
  width: 30px;
  height: 30px;
}


.socialMediaItem .pictureContainer {
  width: 100%;
}

.socialMediaItem .pictureContainer img {
  width: 100%;

}

.socialMediaItem .textOverlay {
  padding: 10px;
  font-size: 13px;
  color:#444444;

}

.socialMediaItem .textContent .container {
  font-size: 14px;
  color:#444444;

}
.socialMediaItem .textContent .container a {
  font-size: 14px;
  color:#2272ba;
}



